// https://sass-lang.com/documentation/variables

$color-primary: #3C1361;
$color-alt: #7C5295;
$color-light: #fff;

$text-light: 300;
$text-normal: 500;
$text-bold: 700;

$transition-slow: 1s;
$transition-fast: 0.2s;

$gutter: 1rem;
