@use 'src/styles/vars' as v;

.currencies {
  background-color: v.$color-light;
  color: v.$color-primary;
  max-height: 30vh;
  overflow: auto;
  &__input {
    font-weight: v.$text-bold;
    padding: v.$gutter v.$gutter * 1.5;
    border: none;
    width: 100%;
    color: v.$color-primary;
    &::placeholder {
      color: v.$color-alt;
      font-size: v.$text-normal;
      font-style: italic;
    }
  }
}

.currency {
  padding: v.$gutter v.$gutter * 1.5;
  border-top: 1px solid v.$color-alt;
  cursor: pointer;
  transition: background-color v.$transition-slow;
  &:hover {
    background-color: v.$color-alt;
    transition: background-color v.$transition-fast;
  }
}
