@use 'src/styles/vars' as v;

.header {
  background-color: v.$color-primary;
  color: v.$color-light;
  text-align: center;
  padding: v.$gutter * 2;
  &__title {
    font-size: 2em;
    font-weight: v.$text-bold;
    margin-bottom: v.$gutter;
  }
  &__base-amount {
    font-weight: v.$text-light;
    text-align: right;
    color: v.$color-light;
    background-color: v.$color-primary;
    border: none;
  }
}
